* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
ul,
ol,
p,
body {
  margin: 0;
  padding: 0;
}

input,
button,
a {
  outline: none;
}

button,
input {
  font-size: 16px;
}

a {
  text-decoration: none;
}

body {
  max-width: 1920px;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  overflow-x: hidden;
}

.wrap {
  background: #313a5a;
  width: 100vw;
  height: 920px;
  color: #ffffff;
  position: relative;
}

.page-header {
  width: 100vw;
  height: 58px;
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}

.page-logo {
  font-weight: 500;
  font-size: 26px;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.page-navigation ul li {
  display: inline;
  margin-left: 20px;
}

.page-login a {
  color: #ffffff;
  margin-right: 40px;
}

.head-btn {
  width: 120px;
  height: 40px;
  border: none;
  background: #1fdb84;
  box-shadow: 0px 8px 34px rgba(31, 219, 132, 0.6);
  border-radius: 5px 0px;
  font-weight: bold;
  color: #ffffff;
}

.head-btn:hover {
  background: #17ac66;
}

.wrap-description {
  display: flex;
  justify-content: space-around;
}

.page-description {
  padding-top: 146px;
  width: 45vw;
  text-align: left;
}

.page-description h1 {
  font-weight: bold;
  font-size: 48px;
}

.page-description p {
  padding-top: 40px;
  line-height: 32px;
}

.page-pic {
  width: 45vw;
}

.page-pic img {
  width: 45vw;
  padding-top: 57px;
}

.btn-desc {
  width: 200px;
  height: 60px;
  color: #ffffff;
  background: #1fdb84;
  box-shadow: 0px -8px 34px rgba(31, 219, 132, 0.6);
  border-radius: 10px 0px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  margin-top: 60px;
}

.btn-desc:hover {
  background: #159258;
}

.benefits {
  width: 95vw;
  height: 420px;
  background: #ffffff;
  box-shadow: 0px 10px 34px rgba(210, 210, 210, 0.5);
  border-radius: 10px;
  position: relative;
  margin-top: -5vh;
  display: flex;
  justify-content: space-around;
  padding-top: 66px;
  text-align: left;
}

.benefits-card {
  width: 30vw;
  height: 270px;
}

.ben-logo {
  width: 72px;
  height: 72px;
  background: rgba(31, 219, 132, 0.1);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ben-name {
  font-weight: 500;
  font-size: 18px;
  color: #031d5b;
  margin-top: 26px;
}

.ben-line {
  width: 60px;
  height: 4px;
  background: #1fdb84;
  margin-top: 29px;
}

.ben-description {
  color: #5b6c94;
  line-height: 32px;
  margin-top: 18px;
}

.price {
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.price h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 64px;
  color: #32325c;
}

.radio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  margin-top: 60px;
}

.radio-btn input {
  display: none;
}

.nth-1 input + label {
  width: 162px;
}

.nth-2 input + label {
  width: 308px;
}

.radio-btn label {
  display: inline-block;
  color: #1fdb84;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-btn input:checked + label {
  background: #f1fff8;
  border: 1px solid #aefdd9;
  color: #6fdeaa;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price-row {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.price-card {
  width: 30vw;
  /* height: 552px; */
  margin-top: 120px;
  /* position: relative; */
  /* margin-left: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.price-card:hover {
  transform: scale(1.1);
  border-top: 1px solid #0a8aff;
}

/* .price-card:first-child {
  margin-left: 0;
} */

.price-name {
  font-weight: bold;
  font-size: 24px;
  color: #32325c;
}

.price-cost {
  font-size: 72px;
  color: #1fdb84;
  padding-top: 31px;
}

.price-month {
  color: #5b6c94;
  padding-top: 13px;
}

.price-desc {
  padding-top: 40px;
  height: 280px;
}

.price-desc li {
  list-style-type: none;
  line-height: 32px;
  padding-top: 20px;
  color: #5b6c94;
  letter-spacing: 0.2px;
}

.price-btn-row {
  padding-top: 100px;
  /* position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -125px; */
}
.price-btn {
  width: 250px;
  height: 60px;
  background: #1fdb84;
  box-shadow: 0px 8px 34px rgba(31, 219, 132, 0.6);
  border: none;
  border-radius: 5px 0px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 1px;
}

.price-btn:hover {
  background: #168f56;
}

.page-footer {
  margin-top: 134px;
  font-size: 16px;
  color: #5b6c94;
}

.foot-menu {
  padding-top: 50px;
}

.foot-menu a {
  padding-left: 15px;
  padding-right: 15px;
}

.foot-menu a:first-child {
  padding-left: 0px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .page-logo {
    font-size: 24px;
  }

  .head-btn {
    width: 100px;
    height: 35px;
  }

  .page-description h1 {
    font-size: 40px;
  }

  .btn-desc {
    width: 170px;
    height: 50px;
  }

  .wrap {
    height: 95vh;
  }

  .benefits {
    margin-top: -5vh;
  }

  .price h2 {
    font-size: 30px;
    line-height: 45px;
  }

  .price-name {
    font-size: 20px;
  }

  .price-cost {
    font-size: 40px;
  }

  .price-btn {
    width: 170px;
    height: 50px;
    font-size: 14px;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 12px;
  }
  .page-logo {
    font-size: 16px;
  }

  .page-login {
    display: none;
  }

  .page-description {
    padding-top: 40px;
  }

  .page-description h1 {
    font-size: 22px;
  }

  .page-description p {
    padding-top: 15px;
    line-height: 20px;
  }

  .btn-desc {
    width: 130px;
    height: 40px;
    font-size: 12px;
    margin-top: 20px;
  }

  .wrap {
    height: 77vh;
  }

  .ben-logo {
    width: 10vw;
    height: 10vh;
  }

  .ben-name {
    margin-top: 20px;
    font-size: 12px;
    height: 20px;
  }

  .ben-line {
    margin-top: 20px;
    width: 40px;
  }

  .ben-description {
    line-height: 20px;
    margin-top: 10px;
  }

  .price h2 {
    font-size: 16px;
    line-height: 25px;
  }

  .nth-1 input + label {
    width: 100px;
  }

  .nth-2 input + label {
    width: 220px;
  }

  .price-row {
    flex-direction: column;
    align-items: center;
  }

  .page-footer {
    margin-top: 110px;
    font-size: 12px;
  }
}

@media screen and (max-width: 350px) {
  html {
    font-size: 10px;
  }
}
